@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="background-color: black">
    <script type="text/javascript" src="js/libs/pixi.js"></script>
    <script type="text/javascript" src="js/libs/fpsmeter.js"></script>
    <script type="text/javascript" src="js/libs/lz-string.js"></script>
    <script type="text/javascript" src="js/rpg_core.js"></script>
    <script type="text/javascript" src="js/rpg_managers.js"></script>
    <script type="text/javascript" src="js/rpg_objects.js"></script>
    <script type="text/javascript" src="js/rpg_scenes.js"></script>
    <script type="text/javascript" src="js/rpg_sprites.js"></script>
    <script type="text/javascript" src="js/rpg_windows.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</body>